.elementor-1781 .elementor-element.elementor-element-f84c5dd{padding:195px 30px 105px 30px;}.elementor-1781 .elementor-element.elementor-element-67850f97{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 30px 100px 30px;}.elementor-1781 .elementor-element.elementor-element-67850f97 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}/* Start custom CSS for section, class: .elementor-element-f84c5dd */.elementor-1781 .elementor-element.elementor-element-f84c5dd {
	background: radial-gradient(ellipse at center, rgb(28, 175, 255) 0%, rgb(0, 130, 201) 100%);
	position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
/*    background-position: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: repeat;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-size: 275px, contain;
    background-attachment: fixed;
*/}/* End custom CSS */