.elementor-2044 .elementor-element.elementor-element-425ae5f4 > .elementor-container{min-height:90px;}.elementor-2044 .elementor-element.elementor-element-425ae5f4{padding:0px 30px 0px 30px;}.elementor-2044 .elementor-element.elementor-element-533df07e{text-align:left;z-index:1;}.elementor-2044 .elementor-element.elementor-element-533df07e img{width:80%;}.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle{margin-left:auto;background-color:#02010100;}.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu .elementor-item{font-family:var( --e-global-typography-secondary-font-family );font-size:var( --e-global-typography-secondary-font-size );font-weight:var( --e-global-typography-secondary-font-weight );line-height:var( --e-global-typography-secondary-line-height );}.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-text );fill:var( --e-global-color-text );}.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu--main .elementor-item:focus{color:#FFFFFF99;fill:#FFFFFF99;}.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu--dropdown a, .elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle{color:#FFFFFF;}.elementor-2044 .elementor-element.elementor-element-7a102394 div.elementor-menu-toggle{color:#000000;}.elementor-2044 .elementor-element.elementor-element-7a102394 div.elementor-menu-toggle svg{fill:#000000;}.elementor-2044 .elementor-element.elementor-element-7a102394 > .elementor-widget-container{--e-transform-transition-duration:300ms;}.elementor-2044 .elementor-element.elementor-element-27790b29 .elementor-button{font-family:"Open Sans";font-size:16px;font-weight:400;fill:#FFF;color:#FFF;background-color:#032E8200;}.elementor-2044 .elementor-element.elementor-element-27790b29 .elementor-button:hover, .elementor-2044 .elementor-element.elementor-element-27790b29 .elementor-button:focus{color:#FFFFFF99;}.elementor-2044 .elementor-element.elementor-element-27790b29 .elementor-button:hover svg, .elementor-2044 .elementor-element.elementor-element-27790b29 .elementor-button:focus svg{fill:#FFFFFF99;}.elementor-2044 .elementor-element.elementor-element-27790b29 > .elementor-widget-container{padding:7px 0px 0px 0px;}@media(min-width:768px){.elementor-2044 .elementor-element.elementor-element-546e1c78{width:62.332%;}.elementor-2044 .elementor-element.elementor-element-2ed52b30{width:4%;}}@media(max-width:1024px){.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu .elementor-item{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu--dropdown .elementor-item, .elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:24px;}}@media(max-width:767px){.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-nav-menu .elementor-item{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}}/* Start custom CSS for nav-menu, class: .elementor-element-7a102394 *//*.elementor-active*/
/**/
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle.elementor-active .eicon-menu-bar:before {
    background-color: transparent;
    color: white;
}
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle .eicon-menu-bar:before, elementor-menu-toggle__icon--close:before {
    content: "";
    color: white;
    background-color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: 0;
    z-index: 8;
    display: block;
    margin-right: 0;
    border: none;
    float: right;
    width: 53px;
    height: 53px;
}
.elementor-2044 .elementor-element.elementor-element-7a102394{
    --gap: 0.15em;
    --weight: 0.04em;
    --width: 0.9em;
}
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle{
    position: relative;
}
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle:before,
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle:after,
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle i:after{
    content: "";
    height: var(--weight);
    width: var(--width);
    position: absolute;
    background: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + var(--gap)));
    transition: all 0.3s ease-in-out;
}

.elementor-menu-toggle__icon--close.eicon-close:first {
    display: none !important;
}

.elementor-menu-toggle__icon--open.eicon-menu-bar:first {
    display: block;
}

/* bottom */
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle.elementor-active:before{
    transform: translate(-50%,-50%) rotate(-45deg);
}
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle:after{
    transform: translate(-50%,calc(-50% - var(--gap)));
}
/* top */
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle.elementor-active:after{
    transform: translate(-50%,-50%) rotate(45deg);
}
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle i:after{
}
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle i:before {
}
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle.elementor-active i:after{
    opacity: 0;
}
.elementor-2044 .elementor-element.elementor-element-7a102394 .elementor-menu-toggle.elementor-active {
    color: white !important;
}/* End custom CSS */
/* Start custom CSS for paypal-button, class: .elementor-element-27790b29 */.elementor-2044 .elementor-element.elementor-element-27790b29 button {
    padding: unset;
    border: none;
}
.elementor-2044 .elementor-element.elementor-element-27790b29 button:focus {
    outline: none;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-425ae5f4 */header.sticky-header {
    --header-height: 90px;
    --opacity: 1.0;
    --shrink-me: 0.60;
    --shrink-logo: 0.60;
    --sticky-background-color: #fff;
    --transition: .3s ease-in-out;

    transition: background-color var(--transition),
                backdrop-filter var(--transition),
                opacity var(--transition);
}
header.sticky-header.elementor-sticky--effects {
    background-color: var(--sticky-background-color) !important;
    opacity: var(--opacity) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 9%);
    position: relative;
}
header.sticky-header > .elementor-container {
    transition: min-height var(--transition);
}
header.sticky-header.elementor-sticky--effects > .elementor-container {
    min-height: calc(var(--header-height) * var(--shrink-me))!important;
    height: calc(var(--header-height) * var(--shrink-me));
}
header.sticky-header .elementor-nav-menu .elementor-item {
    transition: all var(--transition);
}
header.sticky-header.elementor-sticky--effects .elementor-widget-paypal-button .elementor-widget-container {
    transition: all var(--transition);
    padding-top: 4px;
}
header.sticky-header .elementor-widget-paypal-button .elementor-widget-container {
    transition: all var(--transition);
}
header.sticky-header.elementor-sticky--effects .elementor-nav-menu .elementor-item {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
header.sticky-header.elementor-sticky--effects .elementor-nav-menu .elementor-item:hover {
    opacity: 60%;
}
header.sticky-header > .elementor-container .logo img {
    transition: max-width var(--transition);
}
header.sticky-header > .elementor-container .logo img {
    width: 53px;
}
header.sticky-header.elementor-sticky--effects .logo a {
    max-width: calc(53px * var(--shrink-logo));
    content: url('/wp-content/uploads/2022/06/nunimbus.svg');
}
header.sticky-header.elementor-sticky--effects .elementor-menu-toggle__icon--open:before {
    max-height: calc(53px * var(--shrink-logo));
    background-color: transparent !important;
}
header .elementor-container {
    align-items: flex-start !important;
}
header {
    position: fixed !important;
    z-index: 999;
    width: 100%;
}
header.elementor-sticky__spacer {
    display: none;
}
header .elementor-menu-toggle {
    z-index: 999;
}
header .elementor-nav-menu--dropdown.elementor-nav-menu__container {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    background-color: #30B6FF;
    padding-top: 90px;
}
header.sticky-header.elementor-sticky--effects .elementor-menu-toggle.elementor-active {
    /*color: #ffffff;*/
}
@media (min-width: 1025px) {
header.sticky-header.elementor-sticky--effects nav a,
header.sticky-header.elementor-sticky--effects button {
    color: #0C0726 !important;
}
header.sticky-header.elementor-sticky--effects nav a:hover {
    opacity: 0.7;
}
}
header .elementor-column:first-of-type {
    width: 20%;
}
header .elementor-column:last-of-type {
    width: 80%;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8080/wp-content/uploads/2022/06/Open-Sans-Light-Italic-v15.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8080/wp-content/uploads/2022/06/Open-Sans-Italic-v15.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8080/wp-content/uploads/2022/06/Open-Sans-SemiBold-Italic-v15.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8080/wp-content/uploads/2022/06/Open-Sans-Light-v15.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8080/wp-content/uploads/2022/06/Open-Sans-Regular-v15.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8080/wp-content/uploads/2022/06/Open-Sans-SemiBold-v15.ttf') format('truetype');
}
/* End Custom Fonts CSS */