.elementor-1678 .elementor-element.elementor-element-f84c5dd{margin-top:0px;margin-bottom:0px;padding:195px 30px 105px 30px;}.elementor-1678 .elementor-element.elementor-element-9fd81ec .elementor-heading-title{color:var( --e-global-color-secondary );font-weight:700;}.elementor-1678 .elementor-element.elementor-element-452cdd4:not(.elementor-motion-effects-element-type-background), .elementor-1678 .elementor-element.elementor-element-452cdd4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EEEEEE;}.elementor-1678 .elementor-element.elementor-element-452cdd4{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 30px 100px 30px;}.elementor-1678 .elementor-element.elementor-element-452cdd4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}/* Start custom CSS for section, class: .elementor-element-f84c5dd */.elementor-1678 .elementor-element.elementor-element-f84c5dd {
	background: radial-gradient(ellipse at center, rgb(28, 175, 255) 0%, rgb(0, 130, 201) 100%);
	position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
/*    background-position: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: repeat;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-size: 275px, contain;
    background-attachment: fixed;
*/}/* End custom CSS */